@charset "UTF-8";
/* PARA IMPRESSORA*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.0em;
    line-height: 1.5em;
}
menu{
    display: none;
}
